h1 {
    color: blue;
    font-size:30 px;
    position: absolute;
    transform: translate(80%,30%);
}

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

img {
    width: 500px;
    height: 300px;
    object-fit: cover;
    border-radius:50px;
}

#banner {
    width:100%;
    position:relative;

}

#topbanner{
    display: flex;
}

#cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
